/* ============= General Styles ============= */

body {
    background-color: #8990A5;
    color: #454259;
    font-family: 'Lato', sans-serif;
}

p,li {
    font-size: 1.4em;
}

a {
    color: #454259;
    font-weight: bold;
}

a:active,
a:hover {
    color: #D8D817;
    outline: 0;
    outline-color: #1C58B2;
    font-weight: bold;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.semi-container {
    margin: auto;
    max-width: 100%;
    min-height: 375px;
}

.fa-github:before {
    content: "\f09b";
}

.nav-bg-color {
    background-color: #454259;
}

.portfolio-section {
    background-color: #B3BCD8;
    position: relative;
    margin: 0;
}

#parallax-bg {
    background-size: contain;
}

.push-div {
    height: 150px;
}

@media only screen and (max-width: 468px){
    .push-div {
        height: 75px;
    }
}

.headline-div {
    height: 10%;
}

.command-ln-char-div {
    display: inline-block;
}

#command-ln-char {
    color: #D8D817;
    font-family: 'Share Tech', cursive;
    font-size: 4em;    
}

#headline {
    color: #EAEAFF;
    font-weight: bold;
    font-family: 'Share Tech', cursive;
    font-size: 4em;
}

.typed-cursor {
    opacity: 1;
    color: #D8D817;
    font-size: 4em;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#headshot {
    border-radius: 50%;
    max-width: 200px;
}

#tech-stack, td {
  text-align: center;
}

a:active,
a:hover {
    color: #D8D817;
    outline: 0;
    outline-color: #1C58B2;
}


/* ============= Nav Active Tab ============= */

nav ul a {
    color: #FEFFF2;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 0 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background-color: #3B384C;
    color: #EAEAFF;
}

nav .brand-logo {
    font-family: 'Share Tech', cursive;
    opacity: 0;
    color: #FEFFF2;
}

.brand-logo:hover,
.brand-logo:active,
.brand-logo:focus {
    background-color: #3B384C;
    color: #EAEAFF;
}

.logo-span {
    color: #D8D817;
}
.logo-span-cursor {
    color: #D8D817;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* ============= Projects ============= */

#Projects {
    background-color: #A9B1CC;
}

.card-title {
    color: #454259;
}

.card, .card-content, .card-reveal, .card-action {
    background-color: #CCD2E5;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #454259;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #A0A011;
}

.proj-img {
    width: 100%;
    max-width: 500px;
    opacity: 0.7;
}

.proj-img:hover {
    width: 100%;
    max-width: 500px;
    opacity: 1;
}


/* ============= Resume ============= */

#Resume {
    background-color: #9EA6BF;
}

.btn,
.btn-large,
.btn-flat {
    text-transform: none;
    background-color: #454259;
}

.btn:hover,
.btn-large:hover,
.btn-flat:hover,
.btn:focus,
.btn-large:focus,
.btn-flat:focus {
    background-color: #949BB2;
}


/* ============= Contact ============= */

#Contact {
    background-color: #8990A5;
}
