/* ============= General Styles ============= */

body {
    background-color: #DEE0F9;
    color: #4F4B66;
    font-family: 'Ubuntu', sans-serif;
}

p,li {
    font-size: 1.2em;
}

a {
    color: #4F4B66;
    font-weight: bold;
}

a:active,
a:hover {
    color: #000;
    outline: 0;
    outline-color: #1C58B2;
    font-weight: bold;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.semi-container {
    margin: auto;
    max-width: 100%;
    min-height: 375px;
}

.heading-bumper {
    margin-top: 50px;
    margin-bottom: 15px;
}

.fa-github:before {
    content: "\f09b";
}

.nav-bg-color {
    background-color: #4F4B66;
}

.portfolio-section {
    background-color: #D3D5ED;
    position: relative;
    margin: 0;
}

#parallax-bg {
    background-size: contain;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 650px;
}

.push-div {
    height: 200px;
}

.headline-div {
    height: 10%;
}

.command-ln-char-div {
    display: inline-block;
}

#command-ln-char {
    color: #D8D817;
    font-family: 'Share Tech', cursive;
    font-size: 4em;    
}

#headline {
    color: #EAEAFF;
    font-weight: bold;
    font-family: 'Share Tech', cursive;
    font-size: 4.5em;
}

.typed-cursor {
    opacity: 1;
    color: #D8D817;
    font-size: 4em;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#headshot {
    border-radius: 50%;
    max-width: 200px;
}

#tech-stack, td {
  text-align: center;
}

@media only screen and (max-width: 468px){
    .push-div {
        height: 125px;
    }
    #command-ln-char {
        color: #D8D817;
        font-family: 'Share Tech', cursive;
        font-size: 4em;    
    }
    #headline {
        color: #EAEAFF;
        font-weight: bold;
        font-family: 'Share Tech', cursive;
        font-size: 4em;
    }
    .typed-cursor {
        opacity: 1;
        color: #D8D817;
        font-size: 3.5em;
        -webkit-animation: blink 1s infinite;
        -moz-animation: blink 1s infinite;
        animation: blink 1s infinite;
    }
    .heading-bumper {
        margin-top: 15px;
        margin-bottom: 5px;
    }
}


/* ============= Nav Active Tab ============= */

nav ul a {
    color: #FEFFF2;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 0 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background-color: #3B384C;
    color: #EAEAFF;
}

nav .brand-logo {
    font-family: 'Share Tech', cursive;
    opacity: 0;
    color: #FEFFF2;
}

.brand-logo:hover,
.brand-logo:active,
.brand-logo:focus {
    background-color: #3B384C;
    color: #EAEAFF;
}

.logo-span {
    color: #D8D817;
}
.logo-span-cursor {
    color: #D8D817;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* ============= About ============= */

#About {
    background-color: #DEE0F9;
}

.devicon-javascript-plain,
.devicon-html5-plain,
.devicon-css3-plain,
.devicon-react-original,
.devicon-jquery-plain,
.devicon-nodejs-plain,
.devicon-mysql-plain,
.devicon-mongodb-plain {
    font-size: 6em;
}

.devicon-javascript-plain:hover,
.devicon-html5-plain:hover,
.devicon-css3-plain:hover,
.devicon-react-original:hover,
.devicon-jquery-plain:hover,
.devicon-nodejs-plain:hover,
.devicon-mysql-plain:hover,
.devicon-mongodb-plain:hover,
.social-icons a:hover {
    color: #4F4B86;
    text-shadow: 1px 2px 6px #D8D817;
}

/* ============= Projects ============= */

#Projects {
    background-color: #D3D5ED;
}

.card-title {
    color: #4F4B66;
}

.card, .card-content, .card-reveal, .card-action {
    background-color: #D0D4ED;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #4F4B66;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #928EA5;
}

.proj-img {
    width: 100%;
    max-width: 500px;
    opacity: 0.7;
}

.proj-img:hover {
    width: 100%;
    max-width: 500px;
    opacity: 1;
}


/* ============= Resume ============= */

#Resume {
    background-color: #D3D5ED;
}

.btn,
.btn-large,
.btn-flat {
    text-transform: none;
    background-color: #4F4B66;
}

.btn:hover,
.btn-large:hover,
.btn-flat:hover,
.btn:focus,
.btn-large:focus,
.btn-flat:focus {
    background-color: #949BB2;
}


/* ============= Contact ============= */

#Contact {
    background-color: #DEE0F9;
}
